
body {
  max-width: 1024px;
  margin: 150px auto;
}

.container {
  display: flex;
}

form {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  max-height: 900px;
  overflow-y: scroll;
}

.result {
  flex-basis: 50%;
  padding: 24px;
  overflow-y: scroll;
  max-height: 900px;
}